.post{
    @include md{
        margin: 40px 0 53px;
    }
    .title{
        margin-bottom: 5px;
        @include md{
            font-size: 28px;
        }
    }
    &__content{
        @include xl{
            padding-right: 50px;
        }
    }
    &__container{
        max-width: 1240px;
        margin: 0 auto;
        @include md{
            padding: 0 20px;
        }
        
    }
    &__wrapper{
        @include xl{
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    &__hero-img{
        overflow: hidden;
        @include md{
            border-radius: 8px;
        }
        figure{
            padding-bottom: calc(154% / 320 * 100);
            @include md{
                padding-bottom: calc(510% / 1200 * 100);
            }
        }
    }
    &__img{
        margin: 30px 0;
        @include md{
            margin: 50px 0;
        }
        figure{
            padding-bottom: calc(315% / 600 * 100);
        }
    }
    &__context{
        margin-bottom: 50px;
        background: #fff;
        padding: 40px 25px 35px 15px;
        position: relative;
        z-index: 1;
        border-radius: 0 3px 0 0;
        box-shadow: 0 4px 14px 0 rgba(222, 222, 222, 0.5);
        @include xl{
            max-width: 750px;
            padding: 45px 55px 27px;
            margin-top: -140px;
            margin-bottom: 75px;
        }
        p{
            color: #797c7c;
            font-size: 16px;
            line-height: 1.8;
            margin-bottom: 15px;
            @include md{
                font-size: 17px;
                margin-bottom: 30px;
            }
        }
    }
    &__user{
        display: flex;
        align-items: center;
        margin-bottom: 22px;
        p{
            color: #666;
            font-style: italic;
            font-size: 14px;
        }
    }
    &__icon{
        width: 35px;
        height: 35px;
        border-radius: 50px;
        overflow: hidden;
        margin-right: 18px;
    }
    &__link{
        margin-top: 20px;
        @include sm{
            margin-top: 30px;
        }
        button{
            color: #00A9FF;
            font-size: 17px;
            border: 0;
            background: transparent;
            display: flex;
            align-items: center;
        }
        svg{
            @include sm{
                margin-right: 20px;
            }
        }
    }
}