.section-subscribe {
	background: #515353;
	padding: 74px 0 58px;
	color: #fff;
	margin: 0 auto;
	.title {
		color: #fff;
		@include md {
			font-size: 30px;
		}
	}
	&__wrap {
		@include md {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	&__left {
		margin-bottom: 30px;
		h2 {
			font-weight: 400;
			line-height: 1.333;
		}
		@include md {
			width: 45%;
			margin-bottom: 0;
		}
	}
	&__right {
		display: flex;
		position: relative;
		@include md {
			width: 30%;
		}
		form {
			width: 100%;
		}
		p {
			margin-top: 30px;
			font-size: 10px;
			color: #dadcdc;
			vertical-align: middle;
		}
		a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		input:not([type='checkbox']) {
			border: 0;
			border-bottom: 1px solid #a9aaaa;
			background: transparent;
			width: 100%;
			padding: 10px 0 10px;
			color: #fff;
			font-size: 16px;
			-webkit-box-shadow: inset 0 0 0 50px #515353;
			-webkit-text-fill-color: #fff;
			&::placeholder {
				font-size: 14px;
				transition: 0.2s;
			}
			&:focus-visible {
				outline: 0;
				border-color: #fff;
				&::placeholder {
					opacity: 0;
				}
			}
		}
		input[type='checkbox'] {
			margin: 0 10px 0 0;
			vertical-align: middle;
		}
		button,
		input[type='submit'] {
			position: absolute;
			top: 0;
			right: 0;
			background: transparent;
			border: 0;
			width: 30px;
			height: 30px;
			padding: 0;
			opacity: 0;
			font-size: 0;
		}
	}
}