@mixin nav-desktop {
	@include lg {
		@content;
	}
}
@mixin nav-mobile {
	@media (max-width: $lg) {
		@content;
	}
}

.scroll-hidden {
	@include nav-mobile {
		overflow: hidden;
	}
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	color: #515353;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 2px 4px 0 rgba(230, 230, 230, 0.5);
	transition: transform 0.3s ease-in-out;
	@include nav-desktop {
		padding-bottom: 50px;
	}
	&__logo {
		max-width: 200px;
		margin-bottom: 24px;
		@include nav-desktop {
			margin-bottom: 0;
		}
		a {
			display: block;
		}
		img {
			object-fit: contain;
			width: 100%;
			height: auto;
		}
	}
	&__top {
		max-width: 1240px;
		margin: 0 auto;
		padding: 11px 18px;
		@include nav-desktop {
			padding: 23px 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	&__bottom {
		border: 0;
		@include nav-desktop {
			border-top: 1px solid#979797;
			position: absolute;
			bottom: 0;
			width: 100%;
		}
	}
	&__menu {
		ul.menu {
			margin: 0;
			padding: 0;
			max-height: 0;
			opacity: 0;
			text-align: center;
			pointer-events: none;
			@include nav-desktop {
				display: flex;
				justify-content: center;
				max-height: 100%;
				opacity: 1;
				pointer-events: all;
			}
			li {
				margin: 10px 0;
				@include nav-desktop {
					margin: 0 10px;
					a {
						padding: 15px;
					}
                    .sub-menu-toggle {
                        display: none;
                    }
				}
			}
		}
		li {
			display: block;
			position: relative;
			text-transform: uppercase;
			&:hover {
				ul.sub-menu {
					z-index: 1;
					opacity: 1;
					visibility: visible;
				}
			}
			a {
				display: inline-block;
				padding: 10px 0px;
				border-radius: 3px;
				&:hover {
					background-color: #00a8ff;
					transition: 0.2s;
					color: #fff;
				}
			}
			ul.sub-menu {
				padding: 0;
				margin: 0;
				@include nav-desktop {
					display: flex;
					flex-direction: column;
					min-width: 100%;
					opacity: 0;
					visibility: hidden;
					white-space: nowrap;
					background-color: #fff;
					border-radius: 0 0 3px 3px;
					position: absolute;
					left: 0;
					top: 100%;
					z-index: 0;
					transition: opacity 0.3s;
					li {
						margin: 0;
					}
				}
			}
		}
	}
	&__search {
		width: 100%;
		position: relative;
		@include nav-desktop {
			max-width: 270px;
		}
		svg {
			width: 20px;
			height: 20px;
			circle,
			line {
				stroke: #929eaf;
			}
		}
		label {
			display: flex;
		}
		button {
			border: 0;
			background: transparent;
			@include nav-desktop {
				position: absolute;
				top: 12px;
				right: 15px;
			}
		}
		input {
			border: 0;
			padding: 13px 38px 13px 18px;
			width: 100%;
			@include nav-desktop {
				border-radius: 24px;
				border: solid 1px #e5e5e5;
				padding: 15px 40px 15px 20px;
			}
		}
	}
}
.nav-open {
	@include nav-mobile {
		ul.menu {
			max-height: 10000px;
			opacity: 1;
			visibility: visible;
			background-color: #f5f6f6;
			pointer-events: all;
			li {
				margin: 0;
				&:last-child {
					border-bottom: 1px solid #dadcdc;
				}
				a {
					padding: 13px 0;
					width: 100%;
					border-bottom: 1px solid #dadcdc;
				}
			}
			li.menu-item-has-children {
				ul {
					max-height: 0;
					opacity: 0;
					visibility: hidden;
					transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;
				}
				& > a {
					padding-right: 60px;
					padding-left: 60px;
				}
				.sub-menu-toggle {
					display: block;
					background-color: transparent;
					border: none;
					padding: 10px;
					position: absolute;
					top: 5px;
					right: 30px;
					&.active {
						transform: rotate(180deg);
					}
					&.active ~ ul {
						max-height: 1000px;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}

@import './nav';
