.nav {
    color: #515353;
    width: 100%;
    @include nav-desktop {
        width: auto;
        display: flex;
        justify-self: center;
    }
    &__btn {
        background-color: transparent;
        border: none;
        width: 50px;
        height: 50px;
        z-index: 10;
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        @include nav-desktop {
            display: none;
        }
        &_row {
            transition: 0.2s;
            background-color: #2c2738;
            height: 3px;
            width: 100%;
        }
        &_row+&_row {
            margin-top: 7px;
        }
    }
}

.nav-open {
    @include nav-mobile {
        .nav {
            &__btn {
                &_row {
                    margin: 0 !important;
                }
                &_row:nth-child(1) {
                    transform: translateY(100%) rotate(-45deg);
                }
                &_row:nth-child(2) {
                    opacity: 0;
                    width: 0;
                }
                &_row:nth-child(3) {
                    transform: translateY(-100%) rotate(45deg);
                }
            }
        }
    }
}